<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Remove Stock Form</title>
</head>

<body>
<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul class="menu__box">
        <li class="menu__item"><a href="/">Home</a></li>
        <li class="menu__item has-submenu">
            <a href="#">Stock Service</a>
            <ul class="submenu">
                <li><a href="addStocks">Add Stock</a></li>
                <li><a href="reduceStocks">Reduce Stock</a></li>
                <li><a href="showStocks">Show Stock</a></li>
            </ul>
        </li>
        <li class="menu__item has-submenu">
            <a href="#">Order Service</a>
            <ul class="submenu">
                <li><a href="addCart">Add Cart</a></li>
                <li><a href="placeOrder">Place Order</a></li>
                <li><a href="showOrder">Show Order Details</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
                <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root"
                         style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="box-root padding-top--24 flex-flex flex-direction--column"
                 style="flex-grow: 1; z-index: 9; display: flex; align-items: center; justify-content: center;">
                <div class="form-container">
                    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                        <h1 class="heading"><a>Removing Stock</a></h1>
                    </div>
                    <div class="formbg-outer">
                        <div class="formbg">
                            <div class="formbg-inner padding-horizontal--48">
                                <span class="padding-bottom--15">Add Your Stock Details Here</span>
                                <form id="stripe-login2">
                                    <div class="field padding-bottom--24">
                                        <label for="stockIdInput" class="dropdown-label">Stock Id:</label>
                                        <input type="text" id="stockIdInput" autocomplete="off" required>
                                        <div id="dropdown-box">
                                            <div class="dropdown-content" id="stockNameOptions">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="stockQuantity">Stock Quantity:</label>
                                        <input type="number" id="stockQuantity" autocomplete="off" required>
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <input type="submit" name="submit" value="Reduce Stock">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column"
                 style="flex-grow: 1; z-index: 9; display: flex; align-items: center; justify-content: center;">
                <div class="response-container">
                    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                        <h1 class="heading"><a>Reduced Stock</a></h1>
                    </div>
                    <div class="formbg-outer">
                        <div class="formbg">
                            <div class="formbg-inner padding-horizontal--48">
                                <span class="padding-bottom--15">Stock Removal Details</span>
                                <div id="resultTable" class="table-container">
                                    <table style="max-width: 800px"  class="table">
                                        <thead>
                                        <tr>
                                            <th>Key</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                        <!-- Table rows will be added dynamically using JavaScript -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notification" class="notification"></div>
        </div>
    </div>
</div>
<script src="/script.js"></script>
</body>

</html>